.modal {
    font-size: 12px;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

form {
    width: 35vw;
    border: 1px solid black;
}

form label {
    padding: 0 10px;
    display: block;
}

form input, form select {
    margin: 10px;
}